/* Configura a grade de exibição dos usuários */
.usuario-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}


/* Estilo da linha horizontal */
.linha-separadora {
    border: 0;
    height: 1px;
    background: #ccc; /* Cor da linha horizontal */
    margin: 1.5rem 0; /* Espaçamento superior e inferior */
    
}

/* Estiliza cada quadro de usuário */
.usuario-card {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
}

/* Estilos para o nome e outras informações do usuário */
.usuario-card h3 {
    margin: 10px 0 5px 0;
}

.usuario-card p {
    margin: 5px 0;
}

/* Estilos para os links de editar e excluir */
.usuario-card a {
    margin: 0 10px;
}

/* Titulo */
.titulo{
    display: flex;
    justify-content: center;
    align-items: center;
}
