{% extends 'base.html' %}

{% load static %}

{% block title %}
    Mural de Vendas - Marketplace
{% endblock %}

{% block content %}

    <!-- Formulário simplificado para filtro de produtos, ocupando menos espaço -->
    <form method="get" class="d-flex justify-content-center mb-4">
        <!-- Acessando o campo do formulário diretamente -->
        {{ form.categoria }}
        <button type="submit" class="btn btn-primary ms-2">Filtrar</button>
    </form>


    <!-- Container principal com padding e centralização -->
    <div class="container my-5">
        <!-- Cabeçalho da página com um título principal e descrição -->
        <header class="text-center mb-4">
            <h1 class="display-4">Mural de Vendas</h1>
            <p class="lead text-muted">Todos os produtos disponíveis no marketplace.</p>
        </header>

        <!-- Linha horizontal para separar o cabeçalho dos produtos -->
        <hr class="my-4">

        <!-- Botão para adicionar produto, alinhado à direita -->
        <div class="d-flex justify-content-end mb-4">
            <a href="{% url 'adicionar_produto' %}" class="btn btn-success btn-lg">Adicionar Produto</a>
        </div>

        <!-- Grid de produtos exibido em colunas -->
        <div class="row">
            <!-- Loop através de cada produto na lista -->
            {% for produto in produtos %}
                <div class="col-md-4 mb-4">
                    <div class="card shadow-lg border-light">
                        <img src="{{ produto.imagem.url }}" alt="{{ produto.nome }}" class="card-img-top" style="height: 150px; object-fit: cover;">
                        <div class="card-body">
                            <h5 class="card-title">{{ produto.nome }}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Usuário: {{ produto.usuario.username }}</h6>
                            <p class="card-text">Preço: R$ {{ produto.preco }}</p>
                            <a href="{% url 'detalhar_produto' produto.id %}" class="btn btn-info">Ver mais detalhes</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <!-- Scripts do Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-2tFZG7lR6JSAwHgsXG4+eH7jC/X8T1J0n8T45X5LfuC0Yo65s3XrF32h0OeqNbg" crossorigin="anonymous"></script>
{% endblock %}
