{% extends 'base.html' %}  <!-- Estende o template base.html -->

{% load static %}  <!-- Carrega a tag 'static' para incluir arquivos estáticos -->

<!-- Define o título da página -->
{% block title %}
    Lista de Produtos
{% endblock %}

<!-- Bloco principal da página -->
{% block content %}
    <link rel="stylesheet" href="{% static 'css/listar_produtos.css' %}">

    <!-- Cabeçalho da lista de produtos -->
    <div class="h">
    <h1 class="h">Meus Produtos Adicionados</h1>  
    </div>      
    <!-- Formulário - filtro de produtos -->
    <form method="get" class="mb-4 p-3 border rounded">
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Filtrar</button>
    </form>

    <!-- Linha horizontal para separar o cabeçalho dos produtos -->
    <hr class="linha-separadora">

    <div class="container-botoes">
        <a href="{% url 'adicionar_produto' %}" class="btn-adicionar">Adicionar Produto</a>
    </div> 

    <div class="produto-grid">
        <!-- Loop através de cada produto na lista -->
        {% for produto in produtos %}
            <div class="produto-card"> 

                <!-- Loop através de cada produto na lista -->
                <div class="status_produto"> 
                    <p>Status: {{ produto.get_status_display }}</p>
                    <hr class="linha-separadora">
                </div>

                
                <h3>{{ produto.nome }}</h3>
                <p>{{ produto.descricao }}</p>
                <p>Preço da Caixa: R$ {{ produto.preco }}</p>
                <p>Quantidade de Caixas: {{ produto.quantidade }}</p>


                <!-- Links para editar e excluir o produto -->
                <a href="{% url 'editar_produto' produto.id %}" class="btn btn-warning btn-sm">Editar</a> |
                <a href="{% url 'excluir_produto' produto.id %}" class="btn btn-danger btn-sm">Excluir</a>
                
            </div>
        
        {% empty %}
            <div class="h">
                <h3>Não há produtos</h3>
            </div>
        {% endfor %}
        
    </div>
{% endblock %}
