{% extends 'base.html' %}
{% load static %}
{% block title %}
    Editar Perfil
{% endblock %}

{% block content %}
    <!-- Inclua o Bootstrap CSS no head do seu base.html -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    <div class="container my-5">
        <div class="card">
            <div class="card-header text-center">
                <h1 class="h3">Editar Perfil</h1>
            </div>
            <div class="card-body">
                <div class="text-center mb-4">

                    <!-- para exibir a imagem do perfil do usuario -->
                    {% if usuario.imagem_perfil %}
                        <img src="{{ usuario.imagem_perfil.url }}" alt="{{ usuario.nome }}" class="img-thumbnail mb-3" style="max-width: 200px; max-height: 200px;">
                    {% else %}
                        <p class="text-muted mb-3">Sem imagem disponível</p>
                    {% endif %}

                    <!-- Campo para escolher uma nova imagem -->
                    <div class="mb-3">
                        <label for="id_imagem_perfil" class="form-label">Escolher nova imagem:</label>
                        <input type="file" class="form-control" id="id_imagem_perfil" name="imagem_perfil">
                    </div>

                </div>

                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="mb-3">
                        {{ form.nome.label_tag }} 
                        {{ form.nome }}
                    </div>
                    <div class="mb-3">
                        {{ form.cpf.label_tag }}
                        {{ form.cpf }}
                    </div>
                    <div class="mb-3">
                        {{ form.telefone.label_tag }}
                        {{ form.telefone }}
                    </div>
                    <div class="mb-3">
                        {{ form.endereco.label_tag }}
                        {{ form.endereco }}
                    </div>
                    <div class="mb-3">
                        {{ form.descricao.label_tag }}
                        {{ form.descricao }}
                    </div>
                    <div class="mt-4">
                        <button type="submit" class="btn btn-primary">Salvar</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
{% endblock %}
