{% extends 'base.html' %}
{% load static %}
{% block title %}
    Perfil
{% endblock %}

{% block content %}
    <!-- Inclua o Bootstrap CSS no head do seu base.html -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    <div class="container my-5">
        <div class="card">
            <div class="card-header text-center">
                <h1 class="h3">Meu Perfil</h1>
            </div>
            <div class="card-body">
                <div class="row align-items-center">
                    <div class="col-md-4 text-center">
                        {% if usuario.imagem_perfil %}
                            <img src="{{ usuario.imagem_perfil.url }}" alt="{{ usuario.nome }}" class="img-thumbnail mb-3" style="max-width: 300px; max-height: 300px;">
                        {% else %}
                            <p class="text-muted">Sem imagem disponível</p>
                        {% endif %}
                    </div>
                    <div class="col-md-8">
                        <p><strong>Usuário:</strong> {{ usuario.user.username }}</p>
                        <p><strong>Nome:</strong> {{ usuario.nome }}</p>
                        <p><strong>Descricão:</strong> {{ usuario.descricao }}</p>
                        <p><strong>CPF:</strong> {{ usuario.cpf }}</p>
                        
                        <br>
                        <p><strong>Email:</strong> {{ usuario.user.email }}</p>
                        <p><strong>Data de cadastro:</strong> {{ usuario.user.date_joined }}</p>
                        <div class="mt-4">
                            <a href="{% url 'editar' usuario.user.id %}" class="btn btn-success me-2">Editar Perfil</a>
                            <a href="{% url 'excluir' usuario.user.id %}" class="btn btn-danger">Excluir Perfil</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
