<!-- produtos/templates/produtos/detalhar_produto.html -->
{% extends 'base.html' %}
{% load static %}
{% block title %}
    Detalhes do Produto
{% endblock %}

{% block content %}
    <link rel="stylesheet" href="{% static 'css/detalhar_produto.css' %}">


    <div class="produto-detalhes">
        <h2>{{ produto.nome }}</h2>
        <p><strong>Usuário:</strong> {{ produto.usuario.username }}</p>
        <p><strong>Preço:</strong> {{ produto.preco }}</p>
        <p><strong>Descrição:</strong> {{ produto.descricao }}</p>
        <p><strong>Qauntidade:</strong> {{ produto. }}</p>
        <!-- Adicionar mais detalhes conforme necessário -->

        <a href="{% url 'adicionar_solicitacao' %}?produto_id={{ produto.id }}" class="btn-solicitar">Solicitar Produto</a>


    </div>
{% endblock %}
<!--listar solicitacoes-->